<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Admin Page</title>
	<th:block th:replace="~{Layout/layoutAdmin::touch-icon}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::all-min}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::favicon-32x32}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::favicon-16x16}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::core-css}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::font-css}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::min-css}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::responsive-css}"></th:block>
	<th:block th:replace="~{Layout/layoutAdmin::style-css}"></th:block>
	<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"
	></script>
	<script>
		window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-119386393-1");
	</script>
</head>
<body>
	<!-- Header Page -->
	<th:block th:replace="~{Layout/layoutAdmin::loading}"></th:block>
	<!-- Header Page -->
	<th:block th:replace="~{Layout/layoutAdmin::header}"></th:block>
	<!-- Content Page -->

	<div th:fragment="content" class="main-container">
		<div class="xs-pd-20-10 pd-ltr-20">

			<div class="row clearfix progress-box">
				<div class="col-lg-12">
					<div class="card-box mb-30">
						<div class="pd-20">
							<h2 class="text-blue h2">Destination Information</h2>

						</div>
						<div class="pb-20">

							<table class="table project-list-table table-nowrap align-middle table-borderless">
								<thead>
								<tr>
									<th scope="col">Main Image</th>
									<th scope="col">Name</th>
									<th scope="col">Category</th>
									<th scope="col">Province</th>
									<th scope="col">City</th>
									<th scope="col">DoW</th>
									<th scope="col" style="width: 200px;height:100px">Action</th>
								</tr>
								</thead>
								<tbody id="destinationList"></tbody>
							</table>
						</div>
						<form method="post" id="desForm" enctype="multipart/form-data">
							<input type="hidden" asp-for="Id" />
							<div class="col-md-6">
								<label for="ImageUrl" class="control-label">Main Image</label>
								<input type="file" id="ImageUrl" class="form-control" />
							</div>

							<div class="col-md-6">
								<label for="Name" class="control-label">Name</label>
								<input type="text" id="Name" class="form-control" />
							</div>
							<div class="col-md-6">
								<label for="Content" class="control-label">Content</label>
								<input type="text" id="Content" class="form-control" />
							</div>

							<div class="col-md-6">
								<label for="categoryId">Category</label>
								<select id="categoryId" name="categoryId" class="form-control">
									<!-- Options sẽ được thêm tự động bởi JavaScript -->
								</select>
							</div>
							<div class="col-md-6">
								<label for="provinceId">Province</label>
								<select id="provinceId" name="provinceId" class="form-control">
									<!-- Options sẽ được thêm tự động bởi JavaScript -->
								</select>
							</div>
							<div class="col-md-6">
								<label for="cityId">City</label>
								<select id="cityId" name="cityId" class="form-control">
									<!-- Options sẽ được thêm tự động bởi JavaScript -->
								</select>
							</div>
							<div class="col-md-6">
								<label for="dowId">DoW</label>
								<select id="dowId" name="dowId" class="form-control">
									<!-- Options sẽ được thêm tự động bởi JavaScript -->
								</select>
							</div>
							<div class="col-md-6">
								<label for="Images" class="control-label"></label>
								<input type="file" id="Images" class="form-control" multiple />
							</div>


							
									<button type="submit"  class="btn btn-primary text-white button">Save</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Footer Page -->
	<th:block th:replace="~{Layout/layoutAdmin::footer}"></th:block>
	<script>
		$(document).ready(function() {
			loadDestinations();
			$("#desForm").on('submit', function(e) {
				e.preventDefault();
				saveDestination();
			});
			  $.ajax({
			url: 'http://localhost:8080/api/v1/home/categories',
			type: 'GET',
			success: function(data) {
				var select = $('#categoryId');
				console.log(data,select);
				$.each(data, function(index, category) {
					// Tạo option cho từng category
					var option = $('<option></option>')
						.attr('value', category.id)
						.text(category.name);

					select.append(option);
				});
			},
			error: function() {
				alert('Failed to load categories.');
			}
			});
			  $.ajax({
			url: 'http://localhost:8080/api/v1/home/provinces',
			type: 'GET',
			success: function(data) {
				var select = $('#provinceId');
				console.log(data,select);
				$.each(data, function(index, province) {
					// Tạo option cho từng category
					var option = $('<option></option>')
						.attr('value', province.id)
						.text(province.name);

					select.append(option);
				});
			},
			error: function() {
				alert('Failed to load province.');
			}
			});
			 $('#provinceId').change(function() {
			var selectedProvinceId = $(this).val();


			// Gọi ajax request mới với selectedCategoryId
			$.ajax({
				url: 'http://localhost:8080/api/v1/home/citiesByProvince/'+selectedProvinceId,

				type: 'GET',
				success: function(data) {
					var select = $('#cityId');
					console.log('Selected Province ID:', selectedProvinceId);
					$.each(data, function(index, city) {
						// Tạo option cho từng category
						var option = $('<option></option>')
							.attr('value', city.id)
							.text(city.name);

						select.append(option);
					});
				},
				error: function() {
					alert('Failed to fetch data.');
				}
			});
			});
			 $('#cityId').change(function() {
			var selectedCityId = $(this).val();
			console.log('Selected City ID:', selectedCityId);

			$.ajax({
				url: 'http://localhost:8080/api/v1/home/dowsByCity/' + selectedCityId,
				type: 'GET',
				success: function(data) {
					var select = $('#dowId');

					$.each(data, function(index, DoW) {
						// Tạo option cho từng category
						var option = $('<option></option>')
							.attr('value', DoW.id)
							.text(DoW.name);

						select.append(option);
					});
				},
				error: function() {
					alert('Failed to fetch data.');
				}
			});
		});
		});
		function loadDestinations() {
			$.ajax({
				url: 'http://localhost:8080/api/v1/home/destinations',
				type: 'GET',
				success: function(destinations) {
					let destinationList = '';
					$.each(destinations, function(index, destination) {
						destinationList += `<tr>
											<td><img src="${destination.imageUrl}"  width="500px" class="img-fluid" alt="Destination Image"></td>
											<td><span class="badge badge-soft-danger mb-0">${destination.name}</span></td>
											<td><span class="badge badge-soft-danger mb-0">${destination.category.name}</span></td>
											<td><span class="badge badge-soft-danger mb-0">${destination.province.name}</span></td>
											<td><span class="badge badge-soft-danger mb-0">${destination.city.name}</span></td>
											<td><span class="badge badge-soft-danger mb-0">${destination.DoW.name}</span></td>
											<td>
												<button onclick="deleteDestination($destination.id})" class="dw dw-delete-3"></button>
											</td>
										</tr>`;
					});
					$('#destinationList').html(destinationList);
				}
			});
		}
		function getDestinationData() {
			return {
				Name: $('#Name').val(),
				Content: $('#Content').val(),
				provinceId: $('#provinceId').val(),
				cityId:$('#cityId').val(),
				dowId:$('#dowId').val(),
				categoryId:$('#categoryId').val(),
				ImageUrl:$('#ImageUrl').val(),
				Images:$('#Images').val(),

			};
		}
		function postDestination(destinationData) {
			$.ajax({
				url: 'http://localhost:8080/api/v1/admin/destination/add',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(destinationData),
				success: function() {
					resetForm();
					loadDestinations();
				},
				error: function(xhr, status, error) {
					console.error('Error saving des:', status, error);
				}
			});
		}
	   function saveDestination() {
			const destinationData = getDestinationData();
			postDestination(destinationData);
		}


		function deleteDestination(id) {
			if (confirm('Are you sure you want to delete this destination?')) {
				$.ajax({
					url: `http://localhost:8080/api/v1/admin/destination/${id}`,
					type: 'DELETE',
					success: function() {
						loadDestinations();
					}
				});
			}
		}

		function resetForm() {
			 $('#Name').val('');
			 $('#Content').val('');
			$('#provinceId').val('');
			$('#cityId').val('');
			$('#dowId').val('');
			$('#categoryId').val('');
			$('#ImageUrl').val('');
			$('#Images').val('');
		}
	</script>
</body>
</html>